.appBar {
  color: #ffffff;
  overflow: hidden;
  font-size: 10px;
  display: flex;
  flex-direction: row;
  box-shadow: none !important;
}

.appBar > div {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.appBar h1 {
  flex: 1 1 auto;
}

.appBar button {
  flex: 0 0 auto;
  color: #ffffff;
}

.charts {
  background: #FF5722 !important;
}

.cloud {
  background: #43A047 !important;
}

.population {
  background: #2E7D32 !important;
}

.population-group {
  background: #43A047 !important;
}

.empty {
  background: #B71C1C !important;
}

.menuBar {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.menuOne {
  background: #FFE0B2 !important;
  flex: 1 1 auto !important;
  box-shadow: none !important;
}

.menuTwo {
  background: #BBDEFB !important;
  flex: 1 1 auto !important;
  box-shadow: none !important;
}

.card {
  overflow: auto;
}

.card-quarter {
  width: 25%;
}

.card-half {
  width: 50%;
}

.card-full {
  width: 100%;
}

.selector {
  flex: 1 1 auto;
}

.pool {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #fafafa;
}
