.charts {
  background: #FF5722 !important;
  color: #ffffff;
  overflow: hidden;
  font-size: 10px;
  display: flex;
  flex-direction: row;
  box-shadow: none !important;
}

.charts > div {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.charts h1 {
  flex: 1 1 auto;
}

.charts button {
  flex: 0 0 auto;
  color: #ffffff;
}

.cloud {
  background: #F44336 !important;
  color: #ffffff;
  overflow: hidden;
  font-size: 10px;
  display: flex;
  flex-direction: row;
  box-shadow: none !important;
}

.cloud > div {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.cloud h1 {
  flex: 1 1 auto;
}

.cloud button {
  flex: 0 0 auto;
  color: #ffffff;
}

.menuBar {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.menuOne {
  background: #FFE0B2 !important;
  flex: 1 1 auto !important;
  box-shadow: none !important;
}

.menuTwo {
  background: #BBDEFB !important;
  flex: 1 1 auto !important;
  box-shadow: none !important;
}

.pool {
  background-color: #fafafa;
}

.card-half {
  width: 50%;
}

.card-full {
  width: 100%;
}

.selector {
  flex: 1 1 auto;
}
