.appBar {
  color: #ffffff;
  overflow: hidden;
  font-size: 10px;
  display: flex;
  flex-direction: row;
  box-shadow: none !important;
}

.appBar > div {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.appBar h1 {
  flex: 1 1 auto;
}

.appBar button {
  flex: 0 0 auto;
  color: #ffffff;
}

.charts {
  background: #FF5722 !important;
}

.cloud {
  background: #43A047 !important;
}

.population {
  background: #2E7D32 !important;
}

.population-group {
  background: #43A047 !important;
}

.info {
  background: #039BE5 !important;
}

.tendency {
  background: #0288D1 !important;
}

.impression-rate {
  background: #01579B !important;
}

.optimized {
  background: #0277BD !important;
}

.empty {
  background: #B71C1C !important;
}

.menuBar {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.menuOne {
  background: #FFE0B2 !important;
  flex: 1 1 auto !important;
  box-shadow: none !important;
}

.menuTwo {
  background: #BBDEFB !important;
  flex: 1 1 auto !important;
  box-shadow: none !important;
}

.card {
  overflow: auto;
  margin: 1%;
}

.card-quarter {
  width: 23%;
}

.card-half {
  width: 47%;
}

.card-full {
  width: 97%;
}

.selector {
  flex: 1 1 auto;
}

.pool {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #fafafa;
}

.card-content {
  height: 100%;
  width: 100%;
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

.circle-container {
  height: 60%;
  width: 60%;
}
